<div id="contact" class="grid-x align-center align-middle">
  <div class="cell text-center">
    <h1>Contacts</h1>
    <p>
      Have other questions?<br>
      Interested in becoming our sponsor in the future?
    </p>
    <p>Shoot us an email at:</p>
    <p><a href="mailto:contact@dvchacks.io" class="contact-link">contact@dvchacks.io</a></p>
    <br>
    <p>Also check us out on social media and other sites!</p>
    <div class="socials-container">
      <a href="https://www.instagram.com/wics.dvc/" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://wicsdvc.com/" target="_blank">
        <i class="fas fa-laptop-code"></i>
      </a>
      <a href="https://github.com/dvchacks" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://orgsync.com/163868/chapter" target="_blank">
        <i class="fas fa-graduation-cap"></i>
      </a>
    </div>
  </div>
</div>
