<div id="navbar" data-sticky-container>
  <div
    class="top-bar"
    data-sticky
    data-sticky-on="small"
    data-options="marginTop:0;"
    data-top-anchor="1"
    style="width:100%; height: 10vh;"
  >
    <div class="top-bar-left">
      <ul class="menu" data-smooth-scroll>
        <li><a href="#landing" class="title"><h4>DVCHacks</h4></a></li>
      </ul>
    </div>
    <div class="top-bar-right hide-for-small-only">
      <ul class="menu" data-smooth-scroll>
        <li><a href="#landing">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#venue">Venue</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#sponsor">Sponsors</a></li>
        <li><a href="#contact">Contact Us</a></li>
        <li class="full-height">
          <button type="button" class="button secondary full-height">
            <a href="http://live.dvchacks.io/">
              Live
            </a>
          </button>
        </li>
      </ul>
    </div>

    <div class="top-bar-right show-for-small-only">
      <ul class="menu">
        <li class="full-height">
          <button type="button" class="button secondary full-height">
            <a href="https://dvchacks.typeform.com/to/M6ZGax">
              Sign Up
            </a>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
