<div id="venue" class="grid-x align-middle">
  <div class="map-container cell medium-6 small-order-2 medium-order-1">
    <iframe class="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ9d11obxmhYARgasjBNLgebE&key=AIzaSyCqQ3fO2vl-H7lq2Dwq5B8A4HOfhySPPS8" allowfullscreen></iframe>
  </div>
  <div class="venue-container cell medium-6 text-center small-order-1 medium-order-2">
    <h1>Venue</h1>
    <p>
      DVC Cafeteria<br>
      321 Golf Club Rd, Pleasant Hill,<br>
      CA 94523, USA
    </p>
  </div>
</div>
